---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/bitacora">
          bitácora
        </Link>
        <span>{`/`}</span>
        <Link external underline  href="#">
          planificación
        </Link>
        <span>{`/`}</span>
        <Link external underline href="https://docs.google.com/spreadsheets/d/1nM2ynz5Gd9zGgoyyeZyn9nwrGx04e0yUMOCfs14anAA/edit?usp=sharing">
          estudiantes
        </Link>
      </nav>
    </div>
  </Container>
</header>
